<?xml version="1.0"?>
<config>
    <modules>
        <Loewenstark_CustomerBudget>
            <version>0.9.9</version>
        </Loewenstark_CustomerBudget>
    </modules>
    <frontend>
        <layout>
            <updates>
                <loewenstark_customerbudget>
                    <file>Loewenstark_CustomerBudget.xml</file>
                </loewenstark_customerbudget>
            </updates>
        </layout>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <customerbudget>
                        <type>singleton</type>
                        <class>customerbudget/observer</class>
                        <method>completeProductAddCartCheckout</method>
                    </customerbudget>
                </observers>
            </checkout_cart_add_product_complete>
            <checkout_cart_product_add_after>
                <observers>
                    <customerbudget>
                        <type>singleton</type>
                        <class>customerbudget/observer</class>
                        <method>afterAddProductCartCheckout</method>
                    </customerbudget>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_update_items_before>
                <observers>
                    <customerbudget>
                        <type>singleton</type>
                        <class>customerbudget/observer</class>
                        <method>beforeItemsUpdateCartCheckout</method>
                    </customerbudget>
                </observers>
            </checkout_cart_update_items_before>
            <checkout_cart_save_after>
                <observers>
                    <customerbudget>
                        <type>singleton</type>
                        <class>customerbudget/observer</class>
                        <method>afterSaveCartCheckout</method>
                    </customerbudget>
                </observers>
            </checkout_cart_save_after>
            <sales_order_place_after>
                <observers>
                    <customerbudget>
                        <type>singleton</type>
                        <class>customerbudget/observer</class>
                        <method>afterPlaceOrderSales</method>
                    </customerbudget>                
                </observers>   
            </sales_order_place_after>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <customerbudget>
                        <class>customerbudget/observer</class>
                        <method>addCartCheckoutPredispatchAction</method>
                    </customerbudget>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
        </events>      
    </frontend>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <customerbudget>
                        <type>singleton</type>
                        <class>customerbudget/observer</class>
                        <method>addBudgetColumn</method>
                    </customerbudget>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <customerbudget>
                        <class>customerbudget/observer</class>
                        <method>beforeCollectionLoad</method>
                    </customerbudget>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <customer>
                                            <title>Customer Budget</title>
                                        </customer>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
    <global>
        <resources>
            <customerbudget_setup>
                <setup>
                    <module>Loewenstark_CustomerBudget</module>
                    <class>Loewenstark_CustomerBudget_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerbudget_setup>
        </resources>
        <models>
            <customerbudget>
                <class>Loewenstark_CustomerBudget_Model</class>
            </customerbudget>
        </models>
        <helpers>
            <customerbudget>
                <class>Loewenstark_CustomerBudget_Helper</class>
            </customerbudget>
        </helpers>
        <blocks>
            <customerbudget>
                <class>Loewenstark_CustomerBudget_Block</class>
            </customerbudget>
        </blocks>
    </global>
</config>